[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/libvterm"]
	path = third_party/libvterm
	url = https://github.com/neovim/libvterm.git
